<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-sm-offset-3 col-md-7 col-offset-2">
      <h2>About US</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-sm-6 col-md-5" id="about">
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6 col-md-offset-1" id="aboutlocation">
    </div>
  </div>
</div>
