<div class="container">
  {{partial 'navbar'}}
  <!--partial used to insert snippets from other templates-->
  {{outlet}}
  <!--shows that all content from the other pages will appear inside this section-->
</div>
