<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="enter your full names here ">
      <label for="email">Email</label>
      <input type="email" class="form-control" placeholder="enter your full school email ">
      <label for="regno">Registration Number</label>
      <input type="text" class="form-control" placeholder="enter your full  registration number ">
      <label for="course">Course</label>
      <input type="text" class="form-control" placeholder="enter your the course your doing here ">
      <label for="password">Password</label>
      <input type="password" class="form-control">
      <label for="cpassword">Confirm your password</label>
      <input type="text" class="form-control">
    </div>
  </div>
</div>
