<div class="jumbotron">
  <div class="row">
    <div class="col-md-8 col-md-offset-1 col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-1">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="enter your full names here ">
      <label for="email">Email</label>
      <input type="email" class="form-control" placeholder="enter your full school email ">
      <label for="regno">Registration Number</label>
      <input type="text" class="form-control" placeholder="enter your full  registration number ">
      <label for="course">Course</label>
      <input type="text" class="form-control" placeholder="enter your the course your doing here ">
      <label for="password">Password</label>
      <input type="password" class="form-control">
      <label for="cpassword">Confirm your password</label>
      <input type="text" class="form-control">
      <div class="row">
      <div class="col-md-2">
        <button type="button" name="signup" class="btn btn-primary">Sign Up</button>
      </div>
      <div class="col-md-2">
        <button type="button" name="signin" class="btn btn-success">Sign In </button>
      </div>
      <div class="col-md-3">
        <input type="checkbox">
        <label for="remember">Remember Me</label>
      </div>
    </div>
    </div>
  </div>
</div>
